body {
    background-image: url("assets/image/body-bg.avif");
}

.pointer {
    cursor: pointer;
}

.login-container {
    max-width: 400px;
    margin-top: 20vh;
}

.navbar-container {
    display: none;
    padding: 30px;
}

.logo {
    height: 40px;
    width: fit-content;
}

#main-app {
    display: none;
}

.home-card {
    margin: 0 5vw;
}

#customer-page {
    display: none;
}

#item-page {
    display: none;
}